@import url("./src/components/Header/style.scss");
div:has(.wrap):nth-child(1) {
  //   background-color: $BROWN_500;
  height: 62px;
  display: flex;
  align-items: center;
}
.wrap {
  width: 1372px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.social-connect {
  display: flex;
}
