@import "../../style/variable";
@import "../../style/base";

.contact-wrapper {
  display: flex;
  justify-content: center;
  .contact-item {
    display: flex;
    flex-direction: column;
    width: 444px;
    height: 339px;
    img {
      width: 100px;
    }
  }
}
