@import "../../style/variable";
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.ant-pagination-next,
.ant-pagination-prev,
.ant-pagination-item-ellipsis,
.ant-pagination-item {
  border: 1px solid #dfe3e8 !important;
  border-radius: 4px !important;
  a {
    color: black;
    font-weight: 600;
  }
}
.ant-pagination-item-active {
  border: 1px solid $BROWN_500 !important;
  a {
    color: $BROWN_500 !important;
  }
}
.ant-pagination-next,
.ant-pagination-prev {
  svg {
    color: #dfe3e8 !important;
  }
}
.ant-pagination-disabled {
  background-color: #dfe3e8 !important;
  svg {
    color: white !important;
  }
}
