@import "../../style/variable";
.service-item {
  width: 444px;
  height: 426px;
  display: flex;
  justify-content: flex-end;
  .service-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .service-img {
    height: 243px;
    position: relative;
    img {
      height: 243px;
      border-radius: 10px;
    }
    .service-name {
      position: absolute;
      bottom: 0;
      transform: translate(-44px, 50%);
      background-color: $BROWN_500;
      color: white;
      width: 372px;
      height: 60px;
      display: flex;
      padding-left: 68px;
      align-items: center;
      border-radius: 10px;
    }
  }
  .service-content {
    padding: 60px 20px 0px 20px;
  }
}
