@import "../../style/variable";
footer {
  display: block;
  width: 100vw;
  height: 424px;
  background-color: $BROWN_500;
  padding: 20px 0;
}
.row {
  width: 1372px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 20px;
}
.logo {
  width: 214px;
  grid-column: 1/4;
}
.working-time {
  grid-row: inherit;
}
