.section-heading {
  width: fit-content;
  margin: 60px auto;
  color: $BROWN_500;
  position: relative;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  &::after {
    content: "";
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $BROWN_500;
  }
}
.breadcrumb {
  width: 1372px;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  img {
    width: 30px;
    height: 30px;
  }
}
