.section-heading {
  width: fit-content;
  margin: 60px auto;
  color: $BROWN_500;
  position: relative;
  font-size: 24px;
  font-weight: 800;
  &::after {
    content: "";
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $BROWN_500;
  }
}
.breadcrumb {
  display: flex;
}
