@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "../style/variable";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black;
}
ul,
li {
  list-style: none;
}
input,
textarea {
  width: 100%;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
img {
  width: 100%;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

// custom scroll bar
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient($BROWN_500, $RED_500);
  // border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to left, $BROWN_500, $RED_500);
  // border-radius: 10px;
}
