.banner {
  width: 100vw;
  height: 774px;
  background-image: url("/img/banner.png");
  background-size: cover;
  position: relative;
  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
}
.banner-content {
  width: 1372px;
  margin: 0 auto;
  padding: 73px 0px 0px 116px;
  color: white;
  position: relative;
  z-index: 2;
}
.banner-heading {
  font-size: 32px;
  padding-bottom: 10px;
  position: relative;
  &::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
  }
}
