.img-store {
  width: 1372px;
  margin: 0 auto;
}
.img-store-item {
  width: 328px;
  height: 328px;
  position: relative;
  img {
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  .hidden {
    // position: absolute;
    // inset: 0;
  }
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    inset: 0;
  }
  .img-name {
    position: absolute;
    color: white;
    font-weight: 400;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
  }
}
