@import "../../../style/variable";
@import "../../../style/base";

.introduce-service {
  width: 1372px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  .service-img {
    img {
      width: 560px;
      height: 315px;
    }
  }
}
