@import "../../style/variable";
@import "../../style/base";

.doctor-information-section {
  width: 1138px;
  margin: 0 auto;
}
.infomation-wrapper {
  .doctor-img {
    img {
      width: 372px;
      height: 372px;
    }
  }
}
