@import "../../style/variable";
@import "../../style/base";

.doctor-information-section {
  width: 1138px;
  margin: 0 auto;
}
.information-wrapper {
  display: flex;
  gap: 20px;
  .doctor-img {
    img {
      width: 372px;
      height: 372px;
      border-radius: 10px;
      object-fit: cover;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .col-right {
    height: 327px;
    .information {
      h3 {
        color: $BROWN_500;
      }
    }
  }
}
