@import "../../style/variable";
@import "../../style/base";

.doctor-information-section {
  width: 1138px;
  margin: 0 auto;
}
.information-wrapper {
  display: flex;
  gap: 20px;
  .doctor-img {
    img {
      width: 372px;
      height: 372px;
      border-radius: 10px;
      object-fit: cover;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
  .col-right {
    height: 372px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .information {
      h3 {
        color: $BROWN_500;
        font-size: 32px;
        font-weight: 500;
        margin-bottom: 26px;
      }
      .doctor-name {
        font-size: 32px;
        font-weight: 400;
        margin-bottom: 12px;
      }
      .doctor-position {
        font-size: 20px;
        font-weight: 500;
      }
    }
    .contact-info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-bottom: 0;
      &::after {
        display: none;
      }
      h4 {
        font-size: 14px;
        color: $BROWN_500;
      }
      .contact-item {
        img {
          width: 24px;
          height: 24px;
          margin-right: 6px;
        }
        p {
          font-size: 16px;
        }
      }
      .social-media {
        display: flex;
        gap: 10px;
        .social-media-icon {
          width: 33px;
          height: 33px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid $BROWN_500;
          border-radius: 50%;
          img {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }
}
.degree-wrapper {
  width: 100%;
  .row {
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 2fr 12fr;
    &-brown {
      background-color: $BROWN_500;
      color: white;
    }
    .col {
      display: flex;
      height: 58px;
      align-items: center;
      &:nth-child(1) {
        justify-content: center;
      }
    }
  }
}
