@import "../../style/variable";
@import "../../style/base";

main {
  margin-bottom: 60px;
}

.login-wrapper {
  width: 1372px;
  height: 724px;
  margin: 60px auto 0 auto;
  display: flex;
  gap: 20px;
  .img {
    width: 676px;
    background-image: url("/img/bg-login.jpg");
    background-size: cover;
    border-radius: 10px;
    position: relative;
    .cover {
      position: absolute;
      inset: 0;
    }
  }
}
