@import "../../../style/variable";
@import "../../../style/base";

.booking-wrapper {
  width: 908px;
  margin: 0 auto;
  .ant-steps-item-finish .ant-steps-item-icon {
    background-color: transparent !important;
    .anticon-check {
      color: $BROWN_500;
    }
  }
  form {
    width: 100%;
  }
  h3 {
    color: $BROWN_500;
    margin-bottom: 26px;
  }
  .form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
  }
  .input-group {
    width: 444px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    input {
      width: 100%;
    }
    &:not(.date-time-picker) {
      input {
        height: 56px;
        border: 1px solid black;
        padding-left: 16px;
        border-radius: 10px;
      }
    }
    &:has(.date-time-picker) {
      input {
        padding: 10px;
      }
    }
    .ant-picker {
      height: 56px;
      border-color: black;
      border-radius: 10px;
    }
    // input:has(.date-time-picker) {
    //   height: 56px;
    //   border: 1px solid black;
    //   padding-left: 16px;
    //   border-radius: 10px;
    // }
  }
}

.edit-able::before {
  content: "Điền vào đây";
}
