@import "../../style/variable";
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  display: flex;
  gap: 20px;
  min-width: 100%;
  padding-bottom: 10px;
}
.dot-list {
  display: flex;
  gap: 10px;
  .dot {
    width: 30px;
    height: 30px;
    border-radius: 99px;
    border: 2px solid $BROWN_500;
    position: relative;
    &::after {
      content: "";
      width: 6px;
      height: 6px;
      background-color: $BROWN_500;
      border-radius: 99px;
      position: absolute;
    }
  }
  .dot-active {
    position: relative;
  }
}
