@import "../../style/variable";
.booking-item {
  width: 444px;
}
.booking-img {
  height: 335px;
  position: relative;
  .content {
    position: absolute;
    display: flex;
    width: 358px;
    height: 62px;
    background-color: $BROWN_500;
  }
}
